.login-register-forms {
    background: white;
   z-index: 10;
  }

  #login-form{
    background: white;
    color:black;
  }
.hero-bg {
  background-image: url("/assets/background.jpg"); /* Replace with actual image URL */
  background-size: cover;
  background-position: center;
  opacity: 90%;
}

.hero-articles {
    background-image: url("/assets/bg-2.jpg"); /* Replace with actual image URL */
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
    opacity: 90%;
  }

  .footer {
    background-image: url("/assets/footer.jpg"); /* Replace with actual image URL */
    background-size: cover;
    background-position: bottom;
    filter: grayscale(1) , blur(10px);
  }

  .footer2 {
    background-image: url("/assets/footer.jpg"); /* Replace with actual image URL */
    background-size: cover;
    background-position: top;
  }




.slick-slide {
    margin: 0 10px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    min-height: 20rem;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

body{
  background-image: url("/assets/bg-2.jpg"); /* Replace with actual image URL */

}


.black-gold-bg {
  background: linear-gradient(180deg, #1a1a1a, #25251db7, #ebbe2a78);
}

.black-gold-bg-2 {
  background: linear-gradient(0deg, #1a1a1a, #e3e3e387, #6e6e6ee9);
}
.black-gold-border {
  border: 2px solid #d4af37;
}
.gold-button {
  background-color: #d4af37;
  color: #1a1a1a;
}
.gold-button:hover {
  background-color: #c49b2c;
}